*{
    margin:0;
}
header {
    background-color: coral;
    color: aliceblue;
    text-align: center;
}
nav {
    float: right;
}
nav ul{
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    padding: 20px;
}